@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --clr-dark:  #2b2b2b;
    --clear-light: #fff;
    --clr-primary: #1b8b83;
    --clr-secondary: #cfa584;
    --clr-semilight: #d9d9d9;
    --font: Poppins, "sans-serif";
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-light);
  font-family: var(--clr-dark);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.header .toggle__menu span{
  color: var(--clr-primary);
  width: 3rem;
  height: .3rem;
  border: 2px solid;
  border-radius: 1rem;
  display: block;
}
 .header .toggle__menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header .toggle__menu{
    display: none;
  }



/* LOMBOK HEADER */
.header{
    padding: 2rem 0;
    background-color: var(--clr-semilight);
    background-color: rgb(10, 9, 9, 0.5);
  }
  .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__wrapper button{
    background-color: transparent;
    color: var(--clr-dark);
    font-size: 1.5rem;
    font-weight: 500;
    border: solid 4px #2b2b2b;
  }
  .header__nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .header h1{
  font-size: 4rem;
  font-weight: 700; 
  gap: 5rem;
  }
  .header .header__wrapper ul li a{
    font-weight: 700;
    color: var(--clr-dark);
    font-size: 2rem;
  }
  .header .header__wrapper ul li a:hover{
    color: var(--clr-primary);
    }
    .header .toggle__menu span{
      color: var(--clr-primary);
      width: 3rem;
      height: .3rem;
      border: 2px solid;
      border-radius: 1rem;
    }
    .header .toggle__menu{
      display: none;
    }
    @media (max-width: 520px){
      .header .toggle__menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .header .header__nav {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--clr-semilight);
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        z-index: 9;
        transition: all 0.5s ease;
        transform: translateY(-18rem);
        margin-top: 26rem;
        gap: 2rem;
        right: -100%; 
      }
      .header__nav.open{
        right: 0;
        transition: all 0.5s ease;
      }
      .header .header__wrapper img {
        width: 10rem;
      }
      .toggle__menu.open span:first-child{
        transform: translate(0, 10px) rotate(230deg);
        transition: .5s ease;
      }
      .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: .5 ease;
      }
      .toggle__menu.open span:last-child{
        transform: translate(0, -7px) rotate(-230deg);
        transition: .5s ease;
      }
    }


    /* LOMBOK BANNER */
    .lombok__banner--bg{
        background: local
          url(./img/banner.jpg);
        height: 100vh;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        /* to center the text */
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      .lombokBanner h1{
        font-size: 7rem;
        font-weight: 700;
        color: var(--clr-dark);
      }
      .lombokBanner__wrapper span{
        content: " ";
        display: inline-block;
        position: relative;
        height: .3rem;
        width: 3rem;
        background-color: var(--clr-dark);
        width: 7rem;
      }
      .lombokBanner p{
    font-size: 3rem;
    color: rgb(41, 41, 41);
      }

      /* CATALOG CARDS */
      .catalogSection{
        padding: 3rem 0;
        background-color: var(--clr-semilight);
      }
      .catalogSection__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 7rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      } 

      .line{
        display: inline-block;
        position: relative;
        content: " ";
        height: .4rem;
        width: 8rem;
        background: var(--clr-dark);
        margin-bottom: 1rem;
        margin-top: 1rem;
      }    
      .catalogSection__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      }
      .catalogSection__card p{
        padding-bottom: 4rem;
      }
      .catalogSection h2{
        color: var(--clr-dark);
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
      }
      .catalogSection__card{
      background: var(--clear-light);
      width: 40rem;
      margin-top: 4rem;
      }
      .catalogSection__card--content{
        padding: 1rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
      .catalogSection__card--content h3{
        color: var(--clr-secondary);
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      .catalogSection__card img{
    width:60rem;
    height:40rem;
  }
      
      /* About Page */
      
      .aboutBanner__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
      }
      .aboutBanner__wrapper img{
        width: 80rem;
        height: 70rem;
        justify-content: center;
        align-items: center;
      }
        .aboutBanner__wrapper{
        display: flex;
        align-items: center;
        text-align: justify;
        }
        .aboutBanner__right{
          max-width: 85rem;
        }
        .aboutBanner h1{
         font-size: 4rem; 
         font-weight: 700;
         letter-spacing: 2rem;
         text-align: center;
        }
      .aboutBanner__right p{
        margin-bottom: 2rem;  
       justify-content: center;
        max-width: 55rem;
        }

/* SUBSCRIBER PAGE */
.subscribesSection{
  background:var(--clr-semilight);
}
.subscribesSection__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 3rem 0;

}
.subscribesSection__wrapper h2{
  text-align: center;
  font-size: 3rem;
}
.subscribesSection__wrapper h4{
  text-align: center;
}
.subscribesSection input{
  padding: 1rem 2rem;
  margin-top: 5rem;
}
.subscribesSection__wrapper button{
  width:12rem;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--clr-dark);
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .5rem;
  border: solid 1px #2b2b2b;
}
.subscribesSection__wrapper button:hover{
  color: var(--clr-primary);
}

  /* Bottom */
  .footer{
    color: var(--clr-dark);
    padding: 2rem 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .footer__wrapper{
    display: flex;
    justify-content: space-between;
  }
  .footer ul{
    display: flex;
    gap: 1rem;
  }
  .footer ul li a{
    color:var(--clr-dark);
    font-size: 3rem;
  }
  .footer__right ul li{
    color: var(--clr-dark);
    font-size: 2rem;
    font-weight: 400;
    justify-content: space-between;
    display: flex;
    gap: 15rem;
  }
  .header .toggle__menu span{
    color: var(--clr-primary);
    width: 3rem;
    height: .3rem;
    border: 2px solid;
    border-radius: 1rem;
    display: block;
  }
   .header .toggle__menu{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .header .toggle__menu{
      display: none;
    }

    @media (max-width:520px){
      .footer__wrapper{
        flex-direction: column-reverse;
        justify-content: space-between;
      }
      .footer__right ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .subscribesSection button{
        width: 37rem;
      }
      .aboutBanner__wrapper{
        flex-direction: column;
        text-align: justify;
        margin: 2rem;
      }
      .aboutBanner__wrapper img{
        height: 30rem;
      }
      .catalogSection__wrapper{
        display: flex;
        flex-direction: column; 
        gap: 1rem;
        grid-template-columns: 1fr;
      }
    }

